<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/UploadDetect/bulma.css" %}">
    <meta charset="UTF-8">
    <title>UploadDetect</title>
</head>
<body>

<!-- Header -->
        <section style="padding-bottom: 20px">
            <div class="level-item is-centered">
                <p></p>

            </div>

            <div class="level-item is-centered">
                <p class="title has-text-white">UploadDetect</p>
            </div>

            <div class="level-item is-centered">
                <a href="https://wlhood.com">About Me</a>
            </div>

        </section>

<!-- Body -->
        <section>

            <div class="columns">
                <div class="column is-offset-one-fifth is-three-fifths">
                    <div class="notification is-info is-centered">
                        <p style="text-align: center">Deep Learning based object detection</p>
                        <p style="text-align: center">Website built with Django</p>
                        <p style="text-align: center">Object detection using Tensorflow, go to detector for more information</p>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column is-offset-two-fifths">
                    <form action="uploader/index">
                        <div>
                            <button class="notification"  type="submit">Go To Uploader</button>
                        </div>
                    </form>
                </div>
            </div>


        </section>

<!-- Footer -->
        <section>
            <footer class="footer">
                <div class="notification is-info is-centered">
                    <p style="text-align: center">William Hood, The Johns Hopkins University, 2019. All Rights Reserved.</p>
                </div>

            </footer>
        </section>





</body>



</html>