<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "UploadDetect/index.css"%}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <p class="droid">UploadDetect</p>


        <form action="uploader/index">
            <button class="myButton" type="submit">Go To Uploader</button>
        </form>
        <button class="toUploader" type="submit">Go To Uploader</button>
        <button class="toUploader" type="submit">Go To Uploader</button>
</body>



</html>