:root {

    --c-darkblue: rgb(20, 16, 61);
    --c-lightpurple: rgb(121, 114, 200);
    --c-lightblue: rgb(61, 49, 189);
    --c-grey: rgb(69, 68, 82);
    --c-mediumblue: rgb(48, 38, 148);

}

body {
    /* background-image: url("back.jpg"); */
    background-color: var(--c-lightpurple);
}

.myinfo {
    background-color: var(--c-lightblue);
    color: rgb(197, 185, 48);
    text-align: center;
    text-shadow: 1px 1px #6DDCBD;
    font-size: 25px;
    border: 5px solid #ddffdd;
    font-family: "Agency FB";

}


.bodytext {
    background-color: var(--c-mediumblue);
    color: rgb(35, 90, 166);
    text-align: center;
    text-shadow: 2px 1px #6DDCBD;
    font-size: 25px;
    border: 5px solid #ddffdd;
    font-family: "Agency FB";

}

p.droid {
    background-color: rgba(0, 0, 0, 0.71);
    color: rgb(166, 28, 15);
    text-align: center;
    font-family: "Agency FB";
    text-shadow: 2px 2px #6DDCBD;
    font-size: 75px;
    border: 5px solid #ddffdd;

}

div.buttonwrapper {

}

button.myButton {
    background-color: #ddffdd;
    color: #000;
    border: rgb(166, 28, 15) 5px solid;
    border-radius: 2px;
    font-size: 40px;
    display: block;
    padding: 5px 5px;
    margin: 0 auto;


}
