body {
    align-content: center;
    background-color: #ddffdd;
}

h1 {
    align-content: center;
    color: #ddffdd;

}

p.droid {
    background-color: rgba(0, 0, 0, 0.71);
    color: rgb(166, 28, 15);
    text-align: center;
    font-family: "Agency FB";
    text-shadow: 2px 2px #6DDCBD;
    font-size: 75px;
    border: 5px solid #ddffdd;

}

p.text {
    font-size: 20px;
    color: #cc1111;
    background: #46ccaf;

}