body {
    background-image: url("back.jpg");
}

h2 {
    color: rgb(72, 9, 9);
    text-align: center;
    font-family: "Droid Sans";

}

p.droid {
    background-color: rgba(0, 0, 0, 0.71);
    color: rgb(166, 28, 15);
    text-align: center;
    font-family: "Agency FB";
    text-shadow: 2px 2px #6DDCBD;
    font-size: 75px;
    border: 5px solid #ddffdd;

}

button.myButton {
    background-color: #ddffdd;
    color: #000;
    border: rgb(166, 28, 15) 5px solid;
    border-radius: 2px;
    font-size: 40px;
    display: block;
    padding: 5px 5px;
}
