<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static "/uploader/image.css" %}" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Detector</h1>


    <h3>Original</h3>

    <p>{{  data.url  }}</p>
    <img src="{{  data.url  }}" width="300" height="200">


    <h3>Detected</h3>

    <p>{{  data.location  }}</p>
    <img src="{{  data.location  }}" width="300" height="200">


    <p>{{data.one}}</p>
    <p>{{data.one_prob}}</p>

</body>
</html>