<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/UploadDetect/bulma.css" %}">
    <meta charset="UTF-8">
    <title>Image</title>
</head>
<body>

<!-- Header -->
        <section style="padding-bottom: 20px">
            <div class="level-item is-centered">
                <p></p>

            </div>

            <div class="level-item is-centered">
                <p class="title has-text-white">Uploader</p>
            </div>

            <div class="level-item is-centered">
                <p>Image Uploaded Successfully</p>
            </div>

        </section>

<!-- Body -->
        <section>

            <div class="columns">
                <div class="column is-offset-one-fifth is-three-fifths">
                    <div class="notification is-info is-centered">
                        <h2>Original Image</h2>
                        <p class="smaller">Re-sized to 300 x 200
                        <!-- {{  data.form.instance.image.url  }} -->
                        </p>

                        <img src="{{  data.form.instance.image.url  }}", width="300", height="300">
                        <!-- <p>{{  data.form.instance.image.url  }}</p> -->

                    </div>

                    <div class="notification is-info is-centered">
                        <div class="buttons">
                            <form action="index">
                                <button style="margin-right: 30px" class="button" type="submit", >Return to Uploader</button>
                            </form>
                            <form action="/">
                                <button style="margin-right: 30px" class="button" type="submit", >Return to UploadDetect</button>
                            </form>
                            <form action="/detector/detect"  method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{ data.name }}" name="name">
                                <input type="hidden" value="{{  data.form.instance.image.url  }}" name="url">
                                <input type="hidden" value="{{ data.src }}" name="src">
                                <button class="button" type="submit">Go to Detector</button>
                            </form>

                        </div>


                        <!--
                        <p>{{ data.name }}</p>


                        <p>{{  data.path  }}</p>

                        <img src="{{  data.path  }}", width="300" height="200">
                        -->

                    </div>
                </div>
            </div>




        </section>

<!-- Footer -->
        <section>
            <footer class="footer">
                <div class="notification is-info is-centered">
                    <p style="text-align: center">William Hood, The Johns Hopkins University, 2019. All Rights Reserved.</p>
                </div>

            </footer>
        </section>





</body>



</html>


<!-- OLD HTML

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/uploader/image.css" %}">
    <meta charset="UTF-8">
    <title>Image</title>
</head>
<body>

<h1>TEST</h1>

<h2>Original Image</h2>
<p class="smaller">Re-sized to 300 x 200
{{  data.form.instance.image.url  }}</p>

<img src="{{  data.form.instance.image.url  }}", width="300", height="300">
<p>{{  data.form.instance.image.url  }}</p>

<form action="index">
    <button type="submit", >Return to Uploader</button>
</form>
<form action="/">
    <button type="submit", >Return to UploadDetect</button>
</form>
<form action="/detector/detect"  method="post">
    {% csrf_token %}
    <input type="hidden" value="{{ data.name }}" name="name">
    <input type="hidden" value="{{  data.form.instance.image.url  }}" name="url">
    <input type="hidden" value="{{ data.src }}" name="src">
    <button type="submit">Go to Detector</button>
</form>

<p>{{ data.name }}</p>



{{  data.path  }}</p>

<img src="{{  data.path  }}", width="300" height="200">




</body>
</html>

-->
