<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/uploader/image.css" %}">
    <meta charset="UTF-8">
    <title>Image</title>
</head>
<body>

<h1>TEST</h1>

<h2>Original Image</h2>
<p class="smaller">Re-sized to 300 x 200
{{  data.form.instance.image.url  }}</p>

<img src="{{  data.form.instance.image.url  }}", width="300", height="300">
<p>{{  data.form.instance.image.url  }}</p>

<form action="index">
    <button type="submit", >Return to Uploader</button>
</form>
<form action="/">
    <button type="submit", >Return to UploadDetect</button>
</form>
<form action="/detector/detect"  method="post">
    {% csrf_token %}
    <input type="hidden" value="{{ data.name }}" name="name">
    <input type="hidden" value="{{  data.form.instance.image.url  }}" name="url">
    <input type="hidden" value="{{ data.src }}" name="src">
    <button type="submit">Go to Detector</button>
</form>

<p>{{ data.name }}</p>



{{  data.path  }}</p>

<img src="{{  data.path  }}", width="300" height="200">




</body>
</html>